@import "./tailwind.css";

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.vite:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button, [type='button'] {
    background-color: #e1e1e1;
  }
}
