
// Flexbox
.flex
  display: flex

.flex-column
  flex-direction: column
.flex-row
  flex-direction: row
.flex-inline
	display: inline-flex

.center
  align-items: center
  justify-content: center
.center-left
  align-items: center
  justify-content: flex-start
.center-right
  align-items: center
  justify-content: flex-end

.self-top
  align-self: flex-start
.self-bottom
  align-self: flex-end
.self-center
	align-self: center

.full-v
  align-items: stretch

.grow
  flex-grow: 1
.grow-2x
  flex-grow: 2
.grow-4x
	flex-grow: 4

.wrap
  flex-wrap: wrap

.a-center
	align-items: center

.j-between
	justify-content: space-between
.j-center
	justify-content: center
.j-left
	justify-content: flex-start
.j-right
	justify-content: flex-end
