
// Flexbox
.flex
  display: flex
.flex-column
  flex-direction: column
.flex-row
  flex-direction: row

.center
  align-items: center
  justify-content: center
.center-left
  align-items: center
  justify-content: flex-start
.center-right
  align-items: center
  justify-content: flex-end

.self-top
  align-self: flex-start
.self-button
  align-self: flex-end

.full-v
  align-items: stretch

.grow
  flex-grow: 1
.grow-2x
  flex-grow: 2

.wrap
  flex-wrap: wrap
