// Lost grids
@lost gutter 10px

.lost
  lost-center: 100% flex
  lost-utility: clearfix
  > div
    column(1,12)

.lost.grid-2
  > div
    column(2,12)
.lost.grid-3
  > div
    column(3,12)
.lost.grid-4
  > div
    column(4,12)

.grid-half
  > div
    column(6,12)
.grid-full
  > div
    column(1,1)

.lost.grids
  .it--9
    column(9,12)
  .it--6
    column(6,12)
  .it--4
    column(4,12)
  .it--3
    column(3,12)


// Medias queries
// Breackpoints
$sm = 321px
$md = 481px
$lg = 1025px

// Init
.lost.xs
	> div
		lost-column: 1/1 0 0

// > 320px
.lost
	&.sm
		mqcolumn($sm, 1,1)
	&.sm--2
		mqcolumn($sm, 1,2)

// > 480px
.lost
	&.md
		mqcolumn($md, 1,1)
	&.md--2
		mqcolumn($md, 1,2)
	&.md--4
		mqcolumn($md, 1,4)

// > 1024px
.lost
	&.lg
		mqcolumn($lg, 1,1)
	&.lg--2
		mqcolumn($lg, 1,2)
	&.lg--4
		mqcolumn($lg, 1,4)
	&.lg--6
		mqcolumn($lg, 1,6)
