// Lost grids
.lost
  lost-center: 100% flex
  lost-utility: clearfix
  > div
    column(1,12)

.lost.grid-2
  > div
    column(2,12)
.lost.grid-3
  > div
    column(3,12)
.lost.grid-4
  > div
    column(4,12)

.grid-half
  > div
    column(6,12)

.lost.grids
  .it--9
    column(9,12)
  .it--6
    column(6,12)
  .it--4
    column(4,12)
  .it--3
    column(3,12)
