/*
 *  author :
 *  email  :
 */

// Imports
@import "lib/colors"
@import "lib/flexbox"
@import "lib/mixins"


// Main (example)
form
	input[type=button]
		border-radius(5px)
	color: $color--dark
