/*
 *  author :
 *  email  :
 */

// Imports
@import "lib/colors"
@import "lib/flexbox"
@import "lib/mixins"
@import "lib/lost"


// Main (example)
form
	input[type=button]
		color: $color--dark
